@model TBTracker.Models.Patient

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (@Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
      <legend>Drug Messages</legend>
      <table class = "Drug Messages">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Dosage</th>
          <th>Duration</th>
        </tr>
        @foreach (var drug in Model.Drugs)
        {
          <tr>
              <td>
              @Html.ActionLink("Delete", "DeleteDrug", new {id = drug.DrugId }) | @Html.ActionLink("Edit", "EditDrug", new {id = drug.DrugId })
              </td>
              <td>@drug.DrugInfo.Name</td>
              <td>@drug.TimesPerWeek Times Per Week</td>
              <td>@drug.StartDate To @drug.EndDate</td>
          </tr>
        }
        <tr><td>@Html.ActionLink("Add","AddDrug",new {pid=Model.PatientId})</td></tr>
      </table>
    </fieldset>
}

@using (@Html.BeginForm())
{
   @Html.ValidationSummary(true)
   <fieldset>
      <legend>Test Messages</legend>
      <table class="Test Messages">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Date</th>
        </tr>
        @foreach (var testMsg in Model.Tests)
        {
           <tr>
             <td>@Html.ActionLink("Delete","DeleteTest",new {id = testMsg.TestId}) | @Html.ActionLink("Edit","EditTest",new {id=testMsg.TestId})</td>
             <td>@testMsg.TestInfo.Name</td>
             <td>@testMsg.TestDate</td>
           </tr>
        }
        <tr><td>@Html.ActionLink("Add","AddTest",new {pid=Model.PatientId})</td></tr>
      </table>
   </fieldset>
}

@using (@Html.BeginForm())
{
   @Html.ValidationSummary(true)
   <fieldset>
     <legend>Custom Messages</legend>
     <table class="Custom Messages">
        <tr>
           <th></th>
           <th>Message</th>
           <th>Duration</th>
        </tr>
        @foreach (var msg in Model.Messages)
        {
           <tr>
               <td>@Html.ActionLink("Delete","DeleteMsg",new {id = msg.MessageId}) | @Html.ActionLink("Edit","EditMsg",new {id=msg.MessageId})</td>
               <td>@msg.MessageText</td>
               <td>@msg.StartDate To @msg.EndDate</td>
           </tr>
        }
        <tr><td>@Html.ActionLink("Add","AddMsg",new {pid=Model.PatientId})</td></tr>
     </table>
   </fieldset>
}

<p>
    @Html.ActionLink("Save", "Details", "PatientManager", new { id = Model.PatientId }, null)
</p>