@model TBTracker.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Patient</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">FamilyPhone1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FamilyPhone1)
    </div>

    <div class="display-label">FamilyPhone2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FamilyPhone2)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PatientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
