@model MediviseMVC.Models.Drug

@{
    ViewBag.Title = "DeleteDrug";
}

<h2>DeleteDrug</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Drug</legend>

    <div class="common-box">
        <div class="common-label">
           @Html.LabelFor(model => model.DrugInfo.Name):
        </div>
        <div class="common-field">
           @Html.DisplayFor(model => model.DrugInfo.Name)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">StartDate:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.StartDate)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">EndDate:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.EndDate)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">TimesPerWeek:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.TimesPerWeek)
        </div>
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Edit", new { id = Model.PatientId })
    </p>
}
