@model MediviseMVC.Models.Test

@{
    ViewBag.Title = "EditTest";
}

<h2>EditTest</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Test</legend>

        @Html.HiddenFor(model => model.TestId)
        @Html.HiddenFor(model => model.PatientId)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.TestInfoId,"Test Name")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TestInfoId")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TestDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TestDate)
            @Html.ValidationMessageFor(model => model.TestDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Edit", new { id = Model.PatientId })
</div>
