@model TBTracker.Models.Message

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Message</legend>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">EndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">MessageText</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageText)
    </div>

    <div class="display-label">Patient</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Patient.FirstName)
        @Html.DisplayFor(model => model.Patient.LastName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
