@model IEnumerable<TBTracker.Models.Patient>

@{
    ViewBag.Title = "Patient Manager";
    var grid = new WebGrid(source: Model, defaultSort: "FirstName",rowsPerPage:30);
}
<h2>PATIENTS</h2>
<p>
    @Html.ActionLink("Alerts", "Index", "Alert") | @Html.ActionLink("Patients", "Index", "PatientManager")
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="grid">
    @grid.GetHtml(
        tableStyle:"grid",
        headerStyle:"head",
        alternatingRowStyle:"alt",
        columns: grid.Columns(
           grid.Column("FirstName","First Name"),
           grid.Column("LastName","Last Name"),
           grid.Column("Phone"),
           grid.Column("FamilyPhone1","Family Phone 1"),
           grid.Column("FamilyPhone2","Family Phone 2"),
           grid.Column("Address"),
           grid.Column("TimeZone", "Time Zone"),
           grid.Column("Gender","Gender"),
           grid.Column("ResponseReceived","Responded"),
           grid.Column(columnName :"",format: @<text>@Html.ActionLink("Details", "Details", new { id=item.PatientId})</text>),
           grid.Column(columnName :"",format: @<text>@Html.ActionLink("Delete", "Delete", new { id=item.PatientId})</text>)
           
       )
    )
