@model MediviseMVC.Models.Patient
@{
    ViewBag.Title = "Details";
}

<!-- import the plugin for jQRangeSlider -->
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Plugins/jQRangeSlider/css/dev.css")"/>  
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Plugins/jQRangeSlider/demo/style.css")"/>  
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Plugins/jQRangeSlider/demo/lib/jquery-ui/css/smoothness/jquery-ui-1.8.10.custom.css")"/>
<script type="text/javascript" src="@Url.Content("~/Plugins/jQRangeSlider/lib/jquery-1.7.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Plugins/jQRangeSlider/demo/lib/jquery-ui/js/jquery-ui-1.8.16.custom.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Plugins/jQRangeSlider/lib/jquery.mousewheel.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Plugins/jQRangeSlider/jQAllRangeSliders-min.js")"></script>
<!-- may need location change -->
<div id="PatientInfo">
    @Html.Partial("PatientView",Model,ViewData)
</div>
<!-- access alerts through ViewData["alerts"] -->
@Html.Partial("AlertList",ViewData["alerts"])
<!--=======================================-->
@{
    DateTime min = new DateTime(0);
    DateTime max = new DateTime(0);
    
    if (Model.Drugs.Count() != 0)
    {
        min = Model.Drugs.First().StartDate;      //may need to use FirstOrDefault()?
        max = Model.Drugs.First().EndDate;
        foreach (var drug in Model.Drugs)
        {
            if (drug.StartDate < min)
            {
                min = drug.StartDate;
            }
            if (drug.EndDate > max)
            {
                max = drug.EndDate;
            }
        }
        /*
        @: <p>min value is: @min.ToShortDateString() </p>
        @: <p>min value is: @min.Year </p>
        @: <p>min value is: @min.Month </p>
        @: <p>min value is: @min.Day </p>
        @: <p>max value is: @max.ToShortDteString() </p>
        */
    }
}

<!--=======================================-->

<div class="drug-timeline">
    <div id="progressbar"></div>
    @{
        //figuring out progress on progressbar
        DateTime today = DateTime.Today;
        float progress = 0;
        if(max <= today){
            progress = 100;
        }
        else if(min >= today){
            progress = 0;
        }
        else{
            progress = ((float)((today - min).Days) / (float)((max - min).Days)) * 100;
        }

        //show the progress bar
        <text>
            <script type="text/javascript">
                $("#progressbar").progressbar({ value: @(progress) });
                $("#progressbar").height( 60 * @(Model.Drugs.Count) );
            </script>
        </text>
        
        int countHelper = 0;
        
        @:<div class="sliders-group">
        foreach (var drug in Model.Drugs)
        {
            <text>
                <div class="slider-box">
                @(drug.DrugInfo.Name) - @(drug.TimesPerWeek) times/week | @Html.DisplayFor(modelItem => drug.StartDate) to @Html.DisplayFor(modelItem => drug.EndDate)
                    <div id="slider@(countHelper)"></div>
                    <script type="text/javascript">
                        var slider = $('#slider@(countHelper)');
                        //note: month 0 = janurary
                        slider.dateRangeSlider({
                            arrows: false,
                            bounds: { min: new Date(@(min.Year), @(min.Month - 1), @(min.Day)), 
                                        max: new Date(@(max.Year), @(max.Month - 1), @(max.Day)) },
                            defaultValues: { min: new Date(@(drug.StartDate.Year), @(drug.StartDate.Month - 1), @(drug.StartDate.Day)), 
                                                max: new Date(@(drug.EndDate.Year), @(drug.EndDate.Month - 1), @(drug.EndDate.Day)) },
                            valueLabels: "change"
                        });
                    </script>
                </div>
            </text>
        
            countHelper++;
        }
        @:</div>
    }
</div>

<!--=======================================-->

<table title = "Drug Messages">
  <tr>
     <th>Drug Name</th>
     <th>Dosage</th>
     <th>Start Date</th>
     <th>End Date</th>
  </tr>
  @foreach (var drug in Model.Drugs)
  {
    <tr>
      <td>@drug.DrugInfo.Name</td>
      <td>@drug.TimesPerWeek Times Per Week</td>
      <td>@Html.DisplayFor(modelItem => drug.StartDate) </td>
      <td>@Html.DisplayFor(modelItem => drug.EndDate) </td>
    </tr>
  }
</table>

<table title = "Test Messages">
  <tr>
    <th>Description</th>
    <th>Test Date</th>
  </tr>
  @foreach (var test in Model.Tests)
  {
      <tr>
        <td>@test.TestInfo.Name</td>
        <td>@Html.DisplayFor(modelItem => test.TestDate) </td>
      </tr>
  }
</table>

<table title = "Custom Messages">
 <tr>
   <th>Message</th>
   <th>Start Date</th>
   <th>End Date</th>
 </tr>
 @foreach (var msg in Model.Messages)
 {
     <tr>
       <td>@msg.MessageText</td>
       <td>@Html.DisplayFor(modelItem => msg.StartDate) </td>
       <td>@Html.DisplayFor(modelItem => msg.EndDate) </td>
     </tr>
 }
</table>
<p>
     @Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Edit", "Edit", new { id = Model.PatientId }) |
     @Html.ActionLink("TimeLine","Edit","TreatmentPlanner",new {id=Model.PatientId},null)
</p>
