@model MediviseMVC.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<!--
<div class="layout">
    <div class="layout-slider" style="width: 100%">
          Slider <span style="display: inline-block; width: 400px; padding: 0 5px;"><input id="Slider1" type="slider" name="price" value="50" /></span>  in string
    </div>
    <script type="text/javascript" charset="utf-8">
        jQuery("#Slider1").slider({
            from: -50,
            to: 200,
            step: 5,
            dimension: '%',
            skin: 'plastic',
            scale: ['-50', '|', '0', '|', '50', '|', '100', '|', '150', '|', '200']
        });
    </script>
</div>

<script type="text/javascript" charset="utf-8">
function changeContent
{
    var max = 0;
    var newValue = 0;
    var rows = $(" ID blah blah here!
}
</script>
-->

<fieldset>
    <legend>Patient</legend>
    <div class="common-box">
        <div class="common-label">FirstName:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">LastName:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Phone:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">FamilyPhone1:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.FamilyPhone1)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">FamilyPhone2:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.FamilyPhone2)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Address:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Time Zone:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.TimeZone)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Gender:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.Gender)
        </div>
    </div>
</fieldset>

<table title = "Drug Messages">
  <tr>
     <th>Drug Name</th>
     <th>Dosage</th>
     <th>Start Date</th>
     <th>End Date</th>
  </tr>
  @foreach (var drug in Model.Drugs)
  {
    <tr>
      <td>@drug.DrugInfo.Name</td>
      <td>@drug.TimesPerWeek Times Per Week</td>
      <td>@Html.DisplayFor(modelItem => drug.StartDate) </td>
      <td>@Html.DisplayFor(modelItem => drug.EndDate) </td>
    </tr>
  }
</table>
<table title = "Test Messages">
  <tr>
    <th>Description</th>
    <th>Test Date</th>
  </tr>
  @foreach (var test in Model.Tests)
  {
      <tr>
        <td>@test.TestInfo.Name</td>
        <td>@Html.DisplayFor(modelItem => test.TestDate) </td>
      </tr>
  }
</table>

<table title = "Custom Messages">
 <tr>
   <th>Message</th>
   <th>Start Date</th>
   <th>End Date</th>
 </tr>
 @foreach (var msg in Model.Messages)
 {
     <tr>
       <td>@msg.MessageText</td>
       <td>@Html.DisplayFor(modelItem => msg.StartDate) </td>
       <td>@Html.DisplayFor(modelItem => msg.EndDate) </td>
     </tr>
 }
</table>
<!-- access alerts through ViewData["alerts"] -->
@using MediviseMVC.Models
<table>
 <tr>
   <th></th>
   <th>Alert Type</th>
   <th>Alert Date</th>
 </tr>
 @foreach (var alert in (List<Alert>)ViewData["alerts"])
 {
   <tr>
     <td>@Html.ActionLink("Delete","deleteAlert",new {id=alert.AlertId})</td>
     <td>@alert.AlertType</td>
     <td>@alert.AlertDate</td>
   </tr>
 }
</table>
<p>
     @Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Edit", "Edit", new { id=Model.PatientId })
</p>
