@model MediviseMVC.Models.Patient
<fieldset>
    <legend>Patient</legend>
    <div class="common-box">
        <div class="common-label">FirstName:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">LastName:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Phone:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">FamilyPhone1:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.FamilyPhone1)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">FamilyPhone2:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.FamilyPhone2)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Address:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Time Zone:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.TimeZone)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Gender:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.Gender)
        </div>
    </div>
    <div class="common-box">
        <div class="common-label">Treatment Starts:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.TreatmentStartDate)
        </div>
    </div>
    <div class="common-box">
        <div class="common-label">Treatment Ends:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.TreatmentEndDate)
        </div>
    </div>
    <div id="AjaxActions">
      @Ajax.ActionLink("Edit","Edit",new {id=Model.PatientId},new AjaxOptions {UpdateTargetId="PatientInfo"})
    </div>
</fieldset>