@model MediviseMVC.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Message</legend>

    <div class="common-box">
        <div class="common-label">StartDate:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.StartDate)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">EndDate:/div>
        <div class="common-field">
            @Html.DisplayFor(model => model.EndDate)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Message Text:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.MessageText)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">Patient:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.Patient.FirstName)
            @Html.DisplayFor(model => model.Patient.LastName)
        </div>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
